#
# CMDA DPRAM DRIVER configuration
#
config SAMSUNG_PHONE_TTY
	tristate "Samsung CDMA Phone Interface - TTY"
	depends on !SAMSUNG_DPRAM
	default n
	---help---
	  This is worked for steath-v VIA CDMA modem.
	  The ppp daemon is using the tty interface.
	  When in doubt, say N.
