--- fs/rfs/Kconfig (.../RFS_1.2.2p1-rc2_kernel_m64_SamyGO_port)    (Revision 1229)
+++ fs/rfs/Kconfig (.../RFS_1.3.1_b070_kernel_m64_SamyGO_port)     (Arbeitskopie)
@@ -2,11 +2,13 @@
 
 config RFS_FS
        tristate "Robust FAT Filesystem (RFS) support"
+       default m
        help
          Samsung Robust File System support.
 
 config RFS_VFAT
        bool "FAT && long file name support"
+       default y
        depends on RFS_FS
 
 config RFS_SYNC_ON_CLOSE
