#
# Gyro Sensor Configuration
#

config GYRO                                                            
	bool "Gyro Sensor"
	default y
	help
	This option enables Gyro sensors  

config SENSORS_L3G4200D_GYRO
	tristate "ST L3G4200D Gyro sensor support"
	depends on I2C=y
	default y
	help
	  If you say yes here you get support for STMicro's 